<%= provide :title, t(".home") %>

<div class="member">
  <div class="content-wrapper container-member">
    <img class="img-course" src="/assets/course.svg">
    <div class="left-info-member">
      <div>
        <% if user_signed_in? %>
          <div class="avt">
            <%= image_tag get_avatar(current_user), class:"avatar" %>
          </div>
        <% end %>
        <div class="detail-user">
          <div class="username"><%= t ".username" %></div>
          <div class="birthday"><%= t ".birthday" %></div>
        </div>
      </div>
    </div>
    <div class="right-info-member">
      <div class="count-course">
        <div class="count"><%= t ".count" %></div>
        <div class="lable-course"><%= t ".label_course" %></div>
      </div>
    </div>
  </div>
</div>
<div class="row content-wrapper" id="info-course">
  <div class="col-md-4">
    <a class="topLine" href="#">
      <div class="card">
        <div class="topBar"></div>
        <div class="card-body">
          <h3 class="title-course"><%= t ".name_course" %></h3>
          <span class="short-description"><%= t ".short-description" %></span>
        </div>
      </div>
    </a>
  </div>
</div>
