<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6">
      <h3><%= t ".course" %></h3>
      <strong><%= @course.name %></strong>
      <p><strong><%= t ".description" %>:&nbsp;</strong><%= @course.description %></p>
      <p><%= training_time(@course) %></p>
    </div>
    <div class="col-md-6">
      <h3><%= t ".subjects" %></h3>
      <% @course.subjects.each_with_index do |subject, index| %>
        <strong><%= index + 1 %>:&nbsp;<%= subject.name %></strong>
        <% if subject.finish? %>
          <div class="pull-right status"><%= t ".trainer_finish" %></div>
        <% else %>
          <% if check_status_subject(current_user.id, subject.id).first.finish? %>
            <div class="pull-right status">
              <i class="fa fa-check"></i>&nbsp;<%= t ".completed" %></div>
          <% elsif check_status_subject(current_user.id, subject.id).first.inprogress? %>
            <div class="pull-right status"><%= t ".inprogress" %></div>
          <% end %>
          <ol>
            <% subject.tasks.each do |task| %>
              <li>
                <strong><%= task.name %></strong>
                <% if check_status_task(current_user.id, task.id).first.finish? %>
                  <div class="pull-right status">
                    <i class="fa fa-check"></i>&nbsp;<%= t ".completed" %></div>
                <% elsif check_status_task(current_user.id, task.id).first.inprogress? %>
                  <div class="pull-right status">
                    <i class="fa fa-pause-circle"></i>&nbsp;<%= t ".inprogress" %></div>
                <% end %>
              </li>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
