<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".name_app"), root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".change_profile"), edit_user_registration_path %></li>
              <div class="dropdown-divider"></div>
              <li><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".log_in"), new_user_session_path %></li>
        <% end %>
      </ul>
  </div>
</nav>
