<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content-wrapper content-nav">
    <a class="navbar-brand" href="#"><%= t ".logo" %></a>
    </button>
    <div class="session_nav_content content-nav-left" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2 active">
          <%= link_to root_path, class:"nav-link" do %>
            <i class="fa fa-home"></i>&nbsp;<%= t ".home" %>
          <% end %>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#"><%= t ".catalog" %></a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#"><%= t ".mycourse" %></a>
          </li>

          <li class="nav-item mx-2">
            <%= link_to trainee_members_path, class:"nav-link" do %>
              <i class="fa fa-users" data-toogle="tooltip" title="All members"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="session_nav_content content-nav-right">
      <ul class="navbar-nav">
        <% unless user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to new_user_session_path, class:"nav-link" do %>
              <i class="fa fa-sign-in"></i>&nbsp;<%= t ".login" %>
            <% end %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#"><i class="fa fa-bell" data-toogle="tooltip" title="Notification"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <img class="avatar_header" src="/assets/images/staff-02.jpg" alt="Avatar">
            </a>
            <div class="dropdown-menu">
              <%= link_to trainee_user_path(current_user.id), class: "dropdown-item" do %>
                <%= t ".profile" %>
              <% end %>
              <%= link_to t(".change_profile"), edit_user_registration_path, class:"dropdown-item" %>
              <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                <%= t ".logout" %>&nbsp;<i class="fa fa-sign-out"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
